@import url("https://fonts.googleapis.com/css2?family=Poppins");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.cart-container {
  height: 80vh;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #c9c9c9 #ffffff;
  outline: none !important;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-track {
  background: #1f2937;
}

*::-webkit-scrollbar-thumb {
  background-color: #c9c9c9;
  border: 3px solid #1f2937;
  border-radius: 10px;
}

.navlinks {
  border-bottom: 2px solid transparent !important;
}

.navlinks:hover {
  border-bottom: 2px solid white !important;
}

.hero-image {
  background: url("../assets/images/hero_image.webp") no-repeat center
    center/cover;
  width: 100%;
  height: 84vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}

.hero-image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.second-section-card img {
  transition: all 0.5s ease-in-out;
}

.second-section-card:hover img {
  transform: scale(1.08);
  opacity: 0.8;
}

.font-poppins {
  font-family: "Poppins", sans-serif !important;
}

@media (max-width: 1000px) {
  .hero-image {
    height: 60vh;
  }
}

@media (max-width: 600px) {
  .cart-container {
    height: 100%;
  }
  .hero-image {
    height: 70vh;
  }
}
